In [2]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np

In [12]:
df = pd.read_csv('DC_Properties.csv', index_col=0)

/Users/gustikresna/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
df.head()

,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,EYB,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,1972,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,1972,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,1984,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,1984,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,1985,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [14]:
df.shape

(158957, 48)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158957 entries, 0 to 158956
Data columns (total 48 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   BATHRM              158957 non-null  int64
 1   HF_BATHRM           158957 non-null  int64
 2   HEAT                158957 non-null  object
 3   AC                  158957 non-null  object
 4   NUM_UNITS           106696 non-null  float64
 5   ROOMS               158957 non-null  int64
 6   BEDRM               158957 non-null  int64
 7   AYB                 158686 non-null  float64
 8   YR_RMDL             80928 non-null   float64
 9   EYB                 158957 non-null  int64
 10  STORIES             106652 non-null  float64
 11  SALEDATE            132187 non-null  object
 12  PRICE               98216 non-null   float64
 13  QUALIFIED           158957 non-null  object
 14  SALE_NUM            158957 non-null  int64
 15  GBA                 106696 non-null  float64
 16  BLDG_NUM            158957 non-null  int64
 17  STYLE               106696 non-null  object
 18  STRUCT              106696 non-null  object
 19  GRADE               106696 non-null  object
 20  CNDTN               106696 non-null  object
 21  EXTWALL             106696 non-null  object
 22  ROOF                106696 non-null  object
 23  INTWALL             106696 non-null  object
 24  KITCHENS            106695 non-null  float64
 25  FIREPLACES          158957 non-null  int64
 26  USECODE             158957 non-null  int64
 27  LANDAREA            158957 non-null  int64
 28  GIS_LAST_MOD_DTTM   158957 non-null  object
 29  SOURCE              158957 non-null  object
 30  CMPLX_NUM           52261 non-null   float64
 31  LIVING_GBA          52261 non-null   float64
 32  FULLADDRESS         106040 non-null  object
 33  CITY                106051 non-null  object
 34  STATE               106051 non-null  object
 35  ZIPCODE             158956 non-null  float64
 36  NATIONALGRID        106051 non-null  object
 37  LATITUDE            158956 non-null  float64
 38  LONGITUDE           158956 non-null  float64
 39  ASSESSMENT_NBHD     158956 non-null  object
 40  ASSESSMENT_SUBNBHD  126406 non-null  object
 41  CENSUS_TRACT        158956 non-null  float64
 42  CENSUS_BLOCK        106051 non-null  object
 43  WARD                158956 non-null  object
 44  SQUARE              158957 non-null  object
 45  X                   158720 non-null  float64
 46  Y                   158720 non-null  float64
 47  QUADRANT            158720 non-null  object
dtypes: float64(15), int64(10), object(23)
memory usage: 59.4+ MB

Feature Description

In [16]:
desc = pd.read_excel('Attachment/Data Description.xlsx')
pd.set_option('display.max_colwidth', None)

In [17]:
desc

,Feature,Data Type,Description
0,BATHRM,int64,Number of bathroom
1,HF_BATHRM,int64,Number of half bathroom (no bathtub or shower)
2,HEAT,object,Heating type
3,AC,object,Has AC? (Y/N)
4,NUM_UNITS,float64,Number of units
5,ROOMS,int64,Number of rooms
6,BEDRM,int64,Number of bedroom
7,AYB,float64,The earliest time the main portion of the building was built
8,YR_RMDL,float64,The year structure was remodeled
9,EYB,int64,The year an improvement was built more recent than actual year built
10,STORIES,float64,Number of stories in primary dwelling
11,SALEDATE,object,Date of most recent sale
12,PRICE,float64,Price of most recent sale
13,QUALIFIED,object,Internally-used indicator to reflect if a sale is representative of market value according to the office's internal criteria
14,SALE_NUM,int64,Number of time it's been sold since May 2014
15,GBA,float64,Gross building area in square feet
16,BLDG_NUM,int64,Building number on the property
17,STYLE,object,Type of story
18,STRUCT,object,Building structure
19,GRADE,object,Property Grade
20,CNDTN,object,Property Condition
21,EXTWALL,object,Exterior wall type
22,ROOF,object,Roof type
23,INTWALL,object,Interior wall type
24,KITCHENS,float64,Number of kitchens
25,FIREPLACES,int64,Number of fireplaces
26,USECODE,int64,Property use code type
27,LANDAREA,int64,Land area of property in square feet
28,GIS_LAST_MOD_DTTM,object,Last modified data
29,SOURCE,object,Raw data source
30,CMPLX_NUM,float64,Complex number
31,LIVING_GBA,float64,Gross building area in square feet
32,FULLADDRESS,object,Full street address
33,CITY,object,City
34,STATE,object,State
35,ZIPCODE,float64,Zipcode
36,NATIONALGRID,object,Address location national grid coordinate spatial address
37,LATITUDE,float64,Latitude
38,LONGITUDE,float64,Longitude
39,ASSESSMENT_NBHD,object,Neighborhood ID
40,ASSESSMENT_SUBNBHD,object,Subneighborhood ID
41,CENSUS_TRACT,float64,Census tract
42,CENSUS_BLOCK,object,Census block
43,WARD,object,"Ward (district is divided into eight wards, each with approximately 75,000 residents)"
44,SQUARE,object,Square (Part of Square Suffix Lot (SSL) an address identifier in DC)
45,X,float64,Longitude
46,Y,float64,Latitude
47,QUADRANT,object,"City quadrant (NE,SE,SW,NW)"