In [1]:
import pandas as pd
import numpy as np

In [5]:
raw_data_link = 'https://raw.githubusercontent.com/elvanselvano/purwadhika-final-project/main/dataset/raw_dataset.csv'
df = pd.read_csv(raw_data_link, index_col=0)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df['SALEDATE'] = pd.to_datetime(df['SALEDATE'])

Order by SALEDATE and split 80% Dev, 20% Test

In [11]:
df_date_sorted = df.sort_values(by='SALEDATE').reset_index(drop=True)

In [36]:
df_date_sorted.head()

        BATHRM  HF_BATHRM        HEAT AC  ...  SQUARE          X          Y  QUADRANT
158952       2          0     Ht Pump  Y  ...     475 -77.019277  38.914287        NW
158953       2          0     Ht Pump  Y  ...     475 -77.019277  38.914287        NW
158954       1          0  Forced Air  Y  ...     477 -77.019422  38.911848        NW
158955       1          0  Forced Air  Y  ...     477 -77.019422  38.911848        NW
158956       2          0  Forced Air  Y  ...     477 -77.019422  38.911848        NW

[5 rows x 48 columns]

In [18]:
(df_date_sorted['SALEDATE'].shape[0])*0.8

127165.6

In [25]:
dev = df_date_sorted.iloc[:127165,:]

In [29]:
test = df_date_sorted.iloc[127166:,:]

In [30]:
test.shape

(31791, 48)

In [34]:
from google.colab import files
dev.to_csv('dev2.csv',index=False)
files.download('dev2.csv')

In [35]:
from google.colab import files
test.to_csv('test2.csv',index=False)
files.download('test2.csv')